/*-----------------------------------------
Customize the right button background color
-------------------------------------------*/
.date-picker .arrow-button {
    -fx-background-color: rgba(0, 0, 0, 0.67);
    -fx-background-radius: 0;
}

.date-picker .arrow-button:hover {
    -fx-background-color: black;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: #00ffd9;
}

/*-----------------------------------------
Customize popup content
-------------------------------------------*/
.date-picker .cell {
    -fx-background-color: #000000;
    -fx-text-fill: white;
}

.date-picker .cell:hover {
    -fx-background-color: #342e2e;
    -fx-text-fill: #95f1d7;
}

.date-picker .cell:focused {
    -fx-background-color: white;
    -fx-text-fill: black;
}

/*-----------------------------------------
Customize the selected cell
-------------------------------------------*/
.date-picker .selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: #110e0e;
}

.date-picker .selected:focused {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}

.date-picker-popup {
    -fx-border-color: #413e3e;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-primary-color;
}

.date-picker-popup .month-year-pane .label {
    -fx-text-fill: #000000;
}

.date-picker-popup .week-number-cell {
    -fx-text-fill: -fx-secondary-color;
}

/*-----------------------------------------
Customize left and right arrow
-------------------------------------------*/
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: #c2d70e;
}
#pane1,#pane2,#pane3{
    -fx-background-color: rgba(255, 255, 255, 0.78);
    -fx-border-color: black;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 1, 0.0);
}
#mainPane{
    -fx-background-color: rgb(84, 84, 84);
    -fx-border-color: #fafafa transparent transparent transparent;
    -fx-border-width: 5px 0px 0px 0px;
}
.table-view{
    -fx-background-color: rgba(0, 0, 0, 0.24);
    -fx-border-radius: 2;
    -fx-border-color: black;
}

.table-view:focused{
    -fx-background-color: rgba(0, 0, 0, 0.24);
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);

}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;

}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
#txtPayingAmount{
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.61);
}
#pane1:hover,#pane2:hover,#pane3:hover{
    -fx-effect: dropshadow(gaussian, rgb(107, 255, 203), 10, 0.5, 1, 0.0);
}

